<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Result\Page">
        <arguments>
            <argument name="template" xsi:type="string">Traverse_Retargeting::root.phtml</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="tr_checkout_config_provider" xsi:type="object">Traverse\Retargeting\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Catalog\Block\Product\ImageBuilder" type="Traverse\Retargeting\Block\Product\ImageBuilder"/>
    <preference for="Magento\Catalog\Block\Category\View" type="Traverse\Retargeting\Block\Category\View"/>
    <preference for="Magento\Checkout\CustomerData\Cart" type="Traverse\Retargeting\Model\Checkout\CustomerData\Cart"/>
<!--
    <type name="Magento\Checkout\Observer\SalesQuoteSaveAfterObserver">
      <plugin name="Traverse_QuoteSaveAfterBefore" type="Traverse\Retargeting\Plugin\QuoteSaveAfterPlugin" sortOrder="1" />
    </type>
-->
</config>
